.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
tsconfig.json
**/*.map
**/*.ts
**/.git/**
**/tsconfig.json
**/webpack.config.js
*.vsix
.eslintrc.json
.prettierrc
**/*.md
!README.md
